<div class="container">

    <div class="fixed-area">

        <div class="logo">
            <img src="./assets/LOGO@3xDecision 2 1.png">
        </div>
    
        <div id="0" class="main-btns select">
            <img [src]="overviewBtn">
            <label>Overview</label>
        </div>
    
        <div id="1" class="main-btns">
            <img [src]="auctionsBtn">
            <label>Auctions</label>
        </div>
    
        <div  id="2" class="main-btns">
            <img [src]="usersBtn">
            <label>Users</label>
        </div>
    
        <div  id="3" class="main-btns">
            <img [src]="messageBtn">
            <label>Message</label>
        </div>
    
        <div id="4" class="main-btns">
            <img [src]="adsdBtn">
            <label>Ads</label>
        </div>
    
        <div  id="5" class="main-btns">
            <img [src]="archiveBtn">
            <label>Archive</label>
        </div>
    
        <div  id="6" class="main-btns">
            <img [src]="settingsBtn">
            <label>Settings</label>
        </div>

    </div>


    <div class="grow-area">

        <div id="999" class="main-btns logout-btn">
            <img src="./assets/btn-icons/logout.png">
            <label>Logout</label>
        </div>
        
    </div>


</div>
