<div class="container">

    <div class="fixed-area">

        <div class="logo">
            <img src="./assets/LOGO@3xDecision 2 1.png">
        </div>
    
        <div id="0" class="main-btns select" (click)="userChangeView(_MainViews.overview)">
            <img [src]="overviewBtn">
            <label>Overview</label>
        </div>
    
        <div id="1" class="main-btns" (click)="userChangeView(_MainViews.auctions)">
            <img [src]="auctionsBtn">
            <label>Auctions</label>
        </div>

        <div class="main-btn-options" *ngIf="showAuctionOptions">
            
            <div id="10" class="option-btn opt-btn-select" (click)="userChangeView(_MainViews.auctions, _SubViews.act_all)">
                All Auctions
            </div>

            <div  id="11" class="option-btn" (click)="userChangeView(_MainViews.auctions, _SubViews.act_add_new)">
                Add New
            </div>

            <div  id="12" class="option-btn" (click)="userChangeView(_MainViews.auctions, _SubViews.act_contracts)">
                Contracts
            </div>

            <div  id="13" class="option-btn" (click)="userChangeView(_MainViews.auctions, _SubViews.act_winners)">
                Winners
            </div>

        </div>
    
        <div  id="2" class="main-btns" (click)="userChangeView(_MainViews.users)">
            <img [src]="usersBtn">
            <label>Users</label>
        </div>

        <div class="main-btn-options" *ngIf="showUsersOptions">
            
            <div id="14" class="option-btn" (click)="userChangeView(_MainViews.users, _SubViews.user_analytics)">
                User Analytics
            </div>

            <div id="15" class="option-btn" (click)="userChangeView(_MainViews.users, _SubViews.all_users)">
                All Users
            </div>

            <div  id="16" class="option-btn" (click)="userChangeView(_MainViews.users, _SubViews.usr_add_new)">
                Add New
            </div>

            <div  id="17" class="option-btn" (click)="userChangeView(_MainViews.users, _SubViews.user_profile)">
                Profile
            </div>

            <div  id="18" class="option-btn opt-btn-select" (click)="userChangeView(_MainViews.users, _SubViews.user_management)">
                User Management
            </div>

        </div>
    
        <div  id="3" class="main-btns" (click)="userChangeView(_MainViews.message)">
            <img [src]="messageBtn">
            <label>Message</label>
        </div>
    
        <div id="4" class="main-btns" (click)="userChangeView(_MainViews.ads)">
            <img [src]="adsdBtn">
            <label>Ads</label>
        </div>
    
        <div  id="5" class="main-btns" (click)="userChangeView(_MainViews.archive)">
            <img [src]="archiveBtn">
            <label>Archive</label>
        </div>
    
        <div  id="6" class="main-btns" (click)="userChangeView(_MainViews.settings)">
            <img [src]="settingsBtn">
            <label>Settings</label>
        </div>

    </div>


    <div class="grow-area">

        <div id="999" class="main-btns logout-btn">
            <img src="./assets/btn-icons/logout.png">
            <label>Logout</label>
        </div>
        
    </div>


</div>
