<div class="all-users-container">

    <div class="title-area">

        <div class="title">Users > All Users</div>
        

    </div>

    <div class="all-users-content">

        <div class="tab-area">

            <div [id]="gridFiletr.all" class="filters select" style="width: 135px;" (click)="gridFilter(gridFiletr.all)">All ({{filteredDataCount.all}})</div>
            <div [id]="gridFiletr.administrator" class="filters" style="width: 150px;" (click)="gridFilter(gridFiletr.administrator)">Administrator ({{filteredDataCount.administrator}})</div>
            <div [id]="gridFiletr.subscriber" class="filters" (click)="gridFilter(gridFiletr.subscriber)">Subscribers ({{filteredDataCount.subscriber}})</div>
            <div [id]="gridFiletr.premium" class="filters" style="width: 150px;" (click)="gridFilter(gridFiletr.premium)">Premium ({{filteredDataCount.premium}})</div>
            <div [id]="gridFiletr.bulider" class="filters" style="width: 150px; border-right: unset;" (click)="gridFilter(gridFiletr.bulider)">Bulider ({{filteredDataCount.bulider}})</div>

        </div>

        <div class="dropdownbtn-area">
            <p-dropdown [options]="bulkActions"></p-dropdown>

            <button type="button">Apply</button>
        </div>
        
    </div>

    <div class="table-area">

        <div class="common-ag-grid-styles" style="width: 100%; height: 100%;">
                    
            <ag-grid-angular #agGrid 
                style="width: 100%; height: 100%; font-size: 12px;" 
                class="ag-theme-alpine"
                [rowData]="filteredData"
                [columnDefs]="activeColumnDefs"
                [suppressRowClickSelection]="true"
                [rowSelection]="rowSelection"
            >
            </ag-grid-angular>

        </div>

    </div>


</div>
