.notify-container{

    display: flex;
    flex-direction: row;
    border-bottom: 0.8px Solid #E4E5E7;
    height: 60px;
    margin-bottom: 15px;

    .notification-image{

        height: 45px;
        width: 45px;

        
    }

    .notification-info{

        display: flex;
        flex-direction: row;
        margin-left: 12px;
        margin-right: 40px;

        .text{

            font-family: 'Open Sans';
            font-weight: 400;
            width: 142px;
            height: 39px;
            margin-right: 17px;

           .name{

                font-size: 15px;
                line-height: 20px;
                color: #253858;

           }
           .message{

                font-size: 14px;
                line-height: 19px;
                color: #5E6C84;
                mix-blend-mode: normal;
                opacity: 0.75;
                overflow: hidden;

           }
        }

        .time{

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            text-align: right;
            color: #5E6C84;
            mix-blend-mode: normal;
            opacity: 0.5;
            margin-bottom: 4px;

        }

        .count{

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F9A369;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            color: #FEFFFF;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
        }

    }
}