@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Quantico');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 252);

    ::-webkit-scrollbar {
  
        width: 5px;
    }
      
    ::-webkit-scrollbar-track {

        background: transparent;
        
    }
    
    ::-webkit-scrollbar-thumb {
        
        background:#4A8998; 
        border-radius: 10px;
        
    }

}
