<div class="msg-container">

    <div class="content">

        <div class="inbox">

            <div class="header">

                <div class="title-area">

                    <div class="main-title">Inbox</div>

                    <div class="sub-title">(98 messages)</div>

                </div>

                <div class="btn-area">

                    
                    <button>+ New</button>
                    
                    <div>
                        <img src="/assets/Filter.png">
                    </div>

                </div>

            </div>

            <div class="messages">

                <app-notification></app-notification>
                
            </div>
        </div>

        <div class="message-area">Message-area(comming soon)</div>
    </div>

    <div class="right-panal">

        <app-right-panal></app-right-panal>
        
    </div>
  

</div>
